@use '../../vars';

.navbar {
    background-color: vars.$color-dark;
    position: relative;
    height: vars.$navbar-height;
    min-height: vars.$navbar-height;
    width: 100vw;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);

    &__content {
        max-width: 1920px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 vars.$spacing-sm;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        transition: 0.3s ease padding;

        @include vars.breakpoint(md) {
            padding: 0 vars.$spacing-lg;
            
        }

    }
}

.navbar a {
    text-decoration: none;
    color: vars.$color-text;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: vars.$color-text;
}

.menu {
    display: flex;
    gap: vars.$spacing-lg;
    margin: 0;
    flex-flow: column nowrap;
    justify-content: start;
    top:vars.$navbar-height;
    align-items: center;
    position: absolute;
    right: 0;
    overflow: hidden;
    width:0;
    height:calc(100vh - vars.$navbar-height);
    background-color: vars.$color-dark;
    padding:vars.$spacing-md 0;
    font-family: Roboto, sans-serif;
    transition: all 0.2s ease-in;

    &__open {        
        width:270px;
    }

    &__item {
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        display: inline-block;
        padding:5px 0;
        margin: vars.$spacing-sm 0;
        position: relative;
        color:inherit;

        transition: 0.3s ease color;

        &.active {
            color: vars.$color-active;
        }

        &::after {
            background-color: vars.$color-text;
            content: "";
            display: block;
            bottom: -5px;
            height: 3px;
            left: 50%;
            border-radius: 5px;
            position: absolute;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &.active::after {
            background-color: vars.$color-active;
        }

        &:hover::after {
            width: 100%;
            left: 0;
        }
    }
    @include vars.breakpoint(md) {
        display: flex;
        flex-flow: row;
        background: initial;
        width: auto;
        height:auto;
        position:static;
        padding: 0;

        &__item {
            padding: 0 vars.$spacing-lg;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:vars.$spacing-usm;
        }

        &__button_container {
            @include vars.breakpoint(md) {
                display: none;
            }

            padding:vars.$spacing-md;
        }
    }

    &__button__container {
        display: none;

        @include vars.breakpoint(md) {
            display: initial;
        }
    }

    &__toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include vars.breakpoint(md) {
            display: none;
        }

        &>svg {
            display: block;
            font-size: 32px;
        }
    }

 

}
button {
    font-weight: 500;
    color: vars.$color-text;
    border: none;
    cursor: pointer;
    background-color: vars.$color-dark;

    box-shadow: 0 0 0.5em 0 vars.$color-dark;

    &.active {
        transition: scale(0.98);
        border-radius: 0;
    }

    &:hover {
        box-shadow: 0 0 0.75em 0 vars.$color-dark;
    }
}