@use '../../vars';

.container {
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    gap:vars.$spacing-md;

    &_text {
        font-family: "Rubik";
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: normal;
        &_header {
            font-weight: bold;
            font-size: 48px;
            margin: 0;
            &_active {
                color: vars.$color-active;
            }
        }
    }

    &_skills {
        display:flex;
        justify-content: center;
        flex-flow: row wrap;
        gap:vars.$spacing-sm;
        &_item{
            border: 2px solid vars.$color-active;
            border-radius: 5px;
            padding: vars.$spacing-md vars.$spacing-lg;
            transition: all 0.4s ease 0s !important;
            &:hover{
                transform: scale(1.1);                
            }
        }
        @include vars.breakpoint(md) {
            gap:vars.$spacing-lg;
        }
    }
}