/*Colors */
$color-text: #fff;
$color-primary: #576cbc;
$color-secondary: #19376d;
$color-dark: #1B1A2E;
$color-bg: #181227;
$color-active: #E91E77;

/*Fonts*/
$font-roboto: "Roboto";

/*Spacing*/
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$navbar-height:72px;

/*Size*/
$sm:37.5em;
$md:48em;
$lg:64em;
$xl:75em;

@mixin breakpoint($point){
    @if $point == md{
        @media (min-width:$md){
            @content;
        }
    }
}