@use './vars';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: vars.$color-text;
  font-family: vars.$font-roboto;
  background-color: vars.$color-bg;
}

#root {
  height: 200vh;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'),
    url('./fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'),
    url('./fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
}

main {
  margin-top: vars.$spacing-lg;
  width: 75%;
  min-height: 100%;
  position: relative;
}