@use './vars';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: vars.$color-text;
  font-family: vars.$font-roboto;
  background-color: vars.$color-bg;
}
#root {
  height: 200vh;
}
@font-face {
  font-family: 'Rubick-Black';
  src: local('Rubick-Black'),
    url('./fonts/Rubic/Rubik-Black.ttf') format('truetype');
  font-weight:normal;
}